= form_for @team do |f|
  - if @team.errors.any?
    #error_explanation
      %h2= "#{pluralize(@team.errors.count, "error")} prohibited this team from being saved:"
      %ul
        - @team.errors.full_messages.each do |message|
          %li= message

  = f.hidden_field :season_id, value: @season.id
  .field
    = f.label :name
    = f.text_field :name, value: @team.name || @season.next_team_name, required: true
  .field
    Drivers
    %table
      - @eligible_drivers.each do |driver|
        %tr
          %td= f.check_box :drivers, { multiple: true, checked: @team.drivers.include?(driver) }, driver.id, nil
          %td= f.label "drivers_#{driver.id}", driver.name
  .actions
    = f.submit 'Save'
