- title 'Teams'
%h1 #{@season.name}: Teams
- if @teams.any?
  %table
    %thead
      %tr
        %th Name
        %th Drivers
        %th
        %th

    %tbody
      - @teams.each do |team|
        %tr
          %td= team.name
          %td= team.driver_list
          %td= link_to 'Edit', edit_team_path(team)
          %td= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' }
- else
  No teams have been created for this season.
%br

= link_to 'New Team', new_team_path(season: @season)
