= form_with(model: season) do |form|
  - if season.errors.any?
    #error_explanation
      %h2
        = pluralize(season.errors.count, "error")
        prohibited this season from being saved:
      %ul
        - season.errors.each do |error|
          %li= error.full_message
  = form.hidden_field :championship_id, value: @championship.id
  .field
    = form.label :index
    = form.number_field :index, value: season.persisted? ? season.index : @championship.next_season_index
  .field
    = form.label :points_system
    = form.select :points_system_id, options_from_collection_for_select(PointsSystem.all, :id, :name, season.points_system_id)
  .field
    = form.label :name
    = form.text_field :name
  .actions
    = form.submit
