%h2 Drivers
%table.race-results
  %thead
    %tr
      %th.empty
      %th Driver
      - @races.each do |race|
        %th.race{colspan: 2, class: ('warning' if race.warnings.any?)}
          .race-date= link_to race.date, race
          .race-track-name
            .track-name
              = link_to race.track.name, race_results_path(race: race)
              - if mod_signed_in? && race.results.none?
                .record-results= link_to '(record results)', race_results_path(race: race)
      - if @season.points_system.drops_rounds?
        %th 
          Base
          %br
          points
        %th
          Dropped
          %br
          points
      %th Total points
  %tbody
    - @drivers.each do |driver|
      %tr
        - standing = @standings[driver]
        %td= standing.position
        %td.driver-name{class: ('championship-contender' if driver.in_championship_contention?(season: @season))}= link_to driver.championship_name(@season.championship), driver
        - @races.each do |race|
          - result = @results[driver][race]
          - if result
            %td.result{class: race_result_classes(result)}
              = result.effective_position_text
            - score = @scores[driver][race]
            %td.score{class: ('dropped' if standing.drops? result)}= link_to score.points, result
          - else
            %td
            %td
        - if @season.points_system.drops_rounds?
          %td= standing.base_points
          %td= standing.dropped_points
        %td.points= standing.points
- if @teams.any?
  %h2 Teams
  %table.race-results
    %thead
      %tr
        %th.empty
        %th Team
        %th Driver
        - @races.each do |race|
          %th.race{colspan: 2}
            .race-date= race.date
            .race-track-name
              .track-name= race.track.name
    %tbody
      - @teams.each do |team|
        - team.drivers.sort_by{ |driver| @drivers.index(driver) || @drivers.count }.each.with_index do |driver, driver_index|
          %tr
            - standing = @team_standings[team]
            - if driver_index == 0
              %td{rowspan: team.drivers.count}= standing.position
              %td.driver-name{rowspan: team.drivers.count}= team.name
            %td.driver-name= driver.name
            - @races.each do |race|
              - result = @results[driver].try(:[], race)
              - if result
                %td.result{class: race_result_classes(result)}= result.effective_position_text
                - score = @scores[driver][race]
                %td.score{class: ('dropped' unless result.counts_for_team?(team))}= score.points
              - else
                %td
                %td
            - if driver_index == 0
              %td.points{rowspan: team.drivers.count}= standing.points
