%p#notice= notice
%p
  %strong Championship:
  = @season.championship_id
%p
  %strong Points system:
  = @season.points_system_id
%p
  %strong Index:
  = @season.index
%p
  %strong Name:
  = @season.name
= link_to 'Edit', edit_season_path(@season)
|
= link_to 'Back', seasons_path
