<p id="notice"><%= notice %></p>

<p>
  <strong>Championship:</strong>
  <%= @season.championship_id %>
</p>

<p>
  <strong>Points system:</strong>
  <%= @season.points_system_id %>
</p>

<p>
  <strong>Index:</strong>
  <%= @season.index %>
</p>

<p>
  <strong>Name:</strong>
  <%= @season.name %>
</p>

<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'Back', seasons_path %>
