= form_with(model: championship) do |form|
  - if championship.errors.any?
    #error_explanation
      %h2
        = pluralize(championship.errors.count, "error")
        prohibited this championship from being saved:
      %ul
        - championship.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :warnings_convert_to_penalty_points?
    = form.check_box :warnings_convert_to_penalty_points
  .field
    = form.label :number_of_warnings_per_penalty_point
    = form.number_field :number_of_warnings_per_penalty_point, min: 2
  .actions
    = form.submit
