- title 'Championships'
%p#notice= notice
%h1 Championships
%table
  %thead
    %tr
      %th Name
      %th{colspan: 2}
  %tbody
    - @championships.each do |championship|
      %tr
        %td= link_to championship.name, seasons_path(championship: championship)
        %td= link_to 'Edit', edit_championship_path(championship)
        %td= link_to 'Destroy', championship, method: :delete, data: { confirm: 'Are you sure?' }
- if mod_signed_in?
  %br/
  = link_to 'New Championship', new_championship_path
