= form_for @incident do |f|
  - if @incident.errors.any?
    #error_explanation
      %h2= "#{pluralize(@incident.errors.count, "error")} prohibited this incident from being saved:"
      %ul
        - @incident.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :race_id
    = f.select :race_id, options_from_collection_for_select(@race.season.races, :id, :name, @race.id), readonly: true
  .field
    = f.label :lap_number
    %em Use 0 for any session other than the race.
    %br
    = f.number_field :lap_number, min: 0, max: @race.laps, required: true
  .field
    = f.label :reported_by
    = f.text_field :reported_by, required: true, size: 25
  .field
    = f.label :drivers_involved
    = f.text_field :drivers_involved, required: true, size: 75
  .field
    = f.label :description
    = f.text_area :description, required: true, size: '75x20'
  .actions
    = f.submit 'Save'
