%p#notice= notice
%h1 Scores
%table
  %thead
    %tr
      %th Race result
      %th Points system
      %th Score
      %th{:colspan => "3"}
  %tbody
    - @scores.each do |score|
      %tr
        %td= score.race_result_id
        %td= score.points_system_id
        %td= score.score
        %td= link_to 'Show', score
        %td= link_to 'Edit', edit_score_path(score)
        %td= link_to 'Destroy', score, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Score', new_score_path
