= form_with(model: race) do |form|
  - if race.errors.any?
    #error_explanation
      %h2
        = pluralize(race.errors.count, "error")
        prohibited this race from being saved:
      %ul
        - race.errors.each do |error|
          %li= error.full_message
  = form.hidden_field :season_id, value: @season.id
  = form.hidden_field :index, value: @season.races.count.succ
  .field
    = form.label :track
    = form.select :track_id, options_from_collection_for_select(Track.all, :id, :name, race.track_id)
  .field
    = form.label :date
    = form.date_select :date
  .field
    = form.label :laps
    = form.number_field :laps
  .actions
    = form.submit
