- title @race.name
%p#notice= notice
%p
  %strong Season:
  = @race.season.name
%p
  %strong Track:
  = @race.track.name
%p
  %strong Date:
  = @race.date
%p
  %strong Laps:
  = @race.laps
- if mod_signed_in?
  = link_to 'Edit', edit_race_path(@race, season: @season)