= form_with(model: race_result) do |form|
  - if race_result.errors.any?
    #error_explanation
      %h2
        = pluralize(race_result.errors.count, "error")
        prohibited this race_result from being saved:
      %ul
        - race_result.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :driver_id
    = form.select :driver_id, options_from_collection_for_select(Driver.all, :id, :name, race_result.driver_id)
  .field
    = form.label :scored_pole_position
    = form.check_box :scored_pole_position
  .field
    = form.label :laps_led
    = form.number_field :laps_led
  .field
    = form.label :finished_race
    = form.check_box :finished_race
  .field
    = form.label :disqualified
    = form.check_box :disqualified
  .actions
    = form.submit
