- title @race.name
%p#notice= notice
%h1 Race Results for #{@race.name}

- if @race_results.none?
  = form_with url: record_race_results_path, method: :get do |form|
    = form.hidden_field :race, value: @race.id
    = form.label :entrant_count, 'How many entrants did the race have?'
    = form.number_field :entrant_count, required: true
    = form.submit 'Record Race Results'
- else
  %table
    %thead
      %tr
        %th Position
        %th Effective position
        %th Driver
        %th Scored pole position
        %th Laps led
        %th Most laps led?
        %th Finished race?
        %th Disqualified?
        %th Points
    %tbody
      - @race_results.each do |race_result|
        %tr
          %td= race_result.position
          %td= race_result.effective_position
          %td= race_result.driver.championship_entry(@race.season.championship).numbered_name
          %td= race_result.scored_pole_position? ? 'Yes' : ''
          %td= race_result.laps_led
          %td= race_result.most_laps_led? ? 'Yes' : ''
          %td= race_result.finished_race ? '' : 'No'
          %td= race_result.disqualified? ? 'Yes' : ''
          %td
            - if race_result.scores.one?
              = race_result.scores.first.points
            - else
              %ul
                - race_result.scores.each do |score|
                  %li #{score.points} (#{score.points_system.name})
  - if mod_signed_in?
    = button_to 'Delete all race results', delete_all_race_results_path(race: @race)
  - if @incidents.any?
    %h2 Incidents
    = render partial: 'incidents/table'
  - if mod_signed_in?
    = link_to 'Record incident', new_incident_path(race: @race)
    %br
    - if @race.unpublished_outcomes.any?
      = button_to 'Publish incident outcomes', publish_incident_outcomes_race_path(@race)
  = link_to 'Back to season', races_path(season: @race.season)