= form_with(model: driver, url: driver.persisted? ? driver_path(driver, championship: @championship) : drivers_path(championship: @championship)) do |form|
  - if driver.errors.any?
    #error_explanation
      %h2
        = pluralize(driver.errors.count, "error")
        prohibited this driver from being saved:
      %ul
        - driver.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :name
    = form.text_field :name
  = form.fields_for :championship_driver, @entry do |entry_fields|
    .field
      = entry_fields.hidden_field :championship_id, value: @championship.id
      = entry_fields.label :car_number
      = entry_fields.text_field :car_number
  .actions
    = form.submit
