- empty_cells = table_width - results[:races].keys.count
%table.race-results
  %thead
    %tr
      - results[:races].keys.each do |race|
        %th.race
          .race-date= race.date
          .race-track-name
            .track-name= race.track.name
      - empty_cells.times do |empty_cell|
        %th.race
          .race-date
          .race-track-name
      %th Points
      %th Position
      - if season.ongoing?
        %th
          Championship
          %br
          contention?
  %tbody
    %tr
      - results[:races].values.each do |race_result|
        - if race_result
          %td.result{class: race_result_classes(race_result)}= race_result.position
        - else
          %td.result
      - empty_cells.times do |empty_cell|
        %td.result
      %td.points
        = results[:standing].points
        - if season.ongoing?
          *
      %td.result{class: standing_class(results[:standing])}
        = results[:standing].position
        - if season.ongoing?
          *
      - if season.ongoing?
        %td
          - if @driver.in_championship_contention?(season: season)
            Yes
          - else
            No
- if season.ongoing?
  *
  &mdash;
  %em Season ongoing.
  %br
