- title @driver.name
%p#notice= notice
%p
  %strong Name:
  = @driver.name
%h2 Championship Results
- @results.each_pair do |championship, championship_data|
  %h2= link_to championship.name, seasons_path(championship: championship)
  - seasons = championship_data[:seasons]
  - table_width = championship_data[:table_width]
  %b Currently active warnings:
  = @driver.current_warnings(championship)
  %br
  %b Currently active penalty points:
  = @driver.current_penalty_points(championship)
  - seasons.each_pair do |season, season_results|
    %h3
      = link_to season.name, races_path(season: season)
      - if season.ongoing?
        (ongoing)
    = render 'race_results_table', season: season, results: season_results, table_width: table_width
- if @incidents.any?
  %h2 Incidents
  = render 'incidents/table'