= form_with(model: points_allocation) do |form|
  - if points_allocation.errors.any?
    #error_explanation
      %h2
        = pluralize(points_allocation.errors.count, "error")
        prohibited this points_allocation from being saved:
      %ul
        - points_allocation.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :points_system_id
    = form.number_field :points_system_id
  .field
    = form.label :position
    = form.number_field :position
  .field
    = form.label :points
    = form.number_field :points
  .actions
    = form.submit
