<p id="notice"><%= notice %></p>

<p>
  <strong>Points system:</strong>
  <%= @points_allocation.points_system_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @points_allocation.position %>
</p>

<p>
  <strong>Points:</strong>
  <%= @points_allocation.points %>
</p>

<%= link_to 'Edit', edit_points_allocation_path(@points_allocation) %> |
<%= link_to 'Back', points_allocations_path %>
