= form_with(model: points_system) do |form|
  - if points_system.errors.any?
    #error_explanation
      %h2
        = pluralize(points_system.errors.count, "error")
        prohibited this points_system from being saved:
      %ul
        - points_system.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :worst_rounds_dropped
    = form.number_field :worst_rounds_dropped
  .field
    = form.label :pole_position_points
    = form.number_field :pole_position_points
  .field
    = form.label :any_lap_led_points
    = form.number_field :any_lap_led_points
  .field
    = form.label :most_laps_led_points
    = form.number_field :most_laps_led_points
  .field
    = form.label :race_finished_points
    = form.number_field :race_finished_points
  .field
    Points Allocations
    %table
      - points_system.points_allocations.each do |allocation|
        %tr
          = form.fields_for :points_allocations, allocation do |points_fields|
            %td
              = points_fields.label :position
              = points_fields.number_field :position, readonly: true
            %td
              = points_fields.label :points
              = points_fields.number_field :points
  .actions
    = form.submit
