<p id="notice"><%= notice %></p>

<h1>Points Systems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Worst rounds dropped</th>
      <th>Pole position points</th>
      <th>Any lap led points</th>
      <th>Most lap led points</th>
      <th>Race finished points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @points_systems.each do |points_system| %>
      <tr>
        <td><%= points_system.name %></td>
        <td><%= points_system.worst_rounds_dropped %></td>
        <td><%= points_system.pole_position_points %></td>
        <td><%= points_system.any_lap_led_points %></td>
        <td><%= points_system.most_lap_led_points %></td>
        <td><%= points_system.race_finished_points %></td>
        <td><%= link_to 'Show', points_system %></td>
        <td><%= link_to 'Edit', edit_points_system_path(points_system) %></td>
        <td><%= link_to 'Destroy', points_system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Points System', new_points_system_path %>
