- title @points_system.name
%p#notice= notice
%p
  %strong Name:
  = @points_system.name
%p
  %strong Worst rounds dropped:
  = @points_system.worst_rounds_dropped
%p
  %strong Pole position points:
  = @points_system.pole_position_points
%p
  %strong Any lap led points:
  = @points_system.any_lap_led_points
%p
  %strong Most laps led points:
  = @points_system.most_laps_led_points
%p
  %strong Race finished points:
  = @points_system.race_finished_points
%p
  %strong Team results counted per race:
  = @points_system.team_results_counted_per_race

%ul
  - @points_system.points_allocations.each do |allocation|
    %li Position #{allocation.position}: #{allocation.points} points
- if mod_signed_in?
  = link_to 'Edit', edit_points_system_path(@points_system)