- if mod_signed_in?
  = link_to 'Championships', championships_path
  = link_to 'Tracks', tracks_path
  = link_to 'Drivers', drivers_path
  = link_to 'Points Systems', points_systems_path
  = link_to 'Mods', mods_path
  = button_to 'Sign out', destroy_mod_session_path, method: :delete
- else
  - unless current_page?(new_mod_session_path)
    = link_to 'Sign in', new_mod_session_path